.profile-image-div{
    background-image: url("../public/profile1.jpg");
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

/* Add this CSS to control the transition */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

/* Add this CSS to move the component to the left when expanded */
.expanded {
  transform: translateX(-50%); /* Adjust the percentage as needed */
}

.slide-left-animation{
  position: absolute;
  left: 140px;
  transition: .3s;
}

.slide-left-animation:hover{
  left: -290px;
  
}

.vertical-text {
  writing-mode: vertical-rl; /* Vertical writing mode from right to left */
  text-orientation: upright; /* Display text upright */
  white-space: nowrap; /* Prevent text from wrapping */
  letter-spacing: 20px;

}

.power_pic_div{
  background-image: url("../public//power.png");
  background-size: cover;
  background-position: center;
}