.profile-image-div{
    background-image: url("../public/profile1.jpg");
    width: 330px;
    height: 330px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}